{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    {% if (not is_granted('ROLE_BILLING_AUTH') or app.user.billingToken is not null) and token_error is not defined %}
        {% if num_contract is not null %}
            {% include 'aboninfo/_search-script.html.twig' %}
            {{ encore_entry_script_tags('abon_dashboard') }}
        {% elseif searchHistory|length > 0 %}
            {{ encore_entry_script_tags('abon_search_history') }}
        {% else %}
            {{ encore_entry_script_tags('abon_search_empty') }}
        {% endif %}
    {% else %}
        <script type="text/javascript">
            $("#help").remove();
            $("#billing_auth").show();
        </script>
    {% endif %}
    {{ encore_entry_script_tags('aboninfo') }}
{% endblock %}

{% block title %}Поиск абонента{% endblock %}

{% block body %}

    <main>
        {% if (not is_granted('ROLE_BILLING_AUTH') or app.user.billingToken is not null) and token_error is not defined %}
            <div class="wrapper-editor" align="center">

                <form method="get" id="search-form">
                    <div class="form-row">
                        <div class="col">
                            <label for="num_contract" class="sr-only">Номер договора, логин, окато, ФИО или контактный номер</label>
                            <input type="text" class="form-control" name="num_contract" id="num_contract" placeholder="Номер договора, логин, окато, ФИО или контактный номер" value="{{ num_contract }}">
                        </div>
                        <div class="col-2 col-xl-1">
                            <button type="submit" class="btn btn-primary mb-2 btn-block" id="search_submit">Искать</button>
                        </div>
                    </div>
                </form>

            </div>
            {% if num_contract is not null %}
                <div class="row justify-content-center" id="abonLoader">
                        <img src="{{ asset('build/images/ajax-loader-big.gif') }}">
                </div>
                <div class="row" id="abonContent" style="display: none;">
                    <div class="col-md-12 col-lg-6">
                        <div id="accordionAbonent">
                            <div class="card">
                                <div class="card-header" id="headingAbonent">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link {{ app.request.cookies.get('billingInfoHeader_collapsed')|default('true') == 'true' ? 'collapsed' : '' }}" data-toggle="collapse" data-target="#collapseAbonent" aria-expanded="{{ app.request.cookies.get('billingInfoHeader_collapsed')|default('true') == 'true' ? 'true' : 'false' }}" aria-controls="collapseAbonent" id="billingInfoHeader">
                                            Инфо <img src="{{ asset('build/images/ajax-loader.gif') }}">
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseAbonent" class="collapse {{ app.request.cookies.get('billingInfoHeader_collapsed')|default('true') == 'true' ? 'show' : '' }}" aria-labelledby="headingAbonent" >
                                    <div class="card-body" id="infoBlock">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <tbody id="billing_tbody">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordionACS">
                            <div class="card">
                                <div class="card-header" id="headingACS">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link {{ app.request.cookies.get('ACSInfoHeader_collapsed')|default('true') == 'true' ? 'collapsed' : '' }}" data-toggle="collapse" data-target="#collapseACS" aria-expanded="{{ app.request.cookies.get('ACSInfoHeader_collapsed')|default('true') == 'true' ? 'true' : 'false' }}" aria-controls="collapseACS" id="ACSInfoHeader">
                                            Показатели <img src="{{ asset('build/images/ajax-loader.gif') }}">
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseACS" class="collapse {{ app.request.cookies.get('ACSInfoHeader_collapsed')|default('true') == 'true' ? 'show' : '' }}" aria-labelledby="headingACS" >
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" id="zabbix_graph_tab" data-toggle="tab" href="#zabbix_graph_block" role="tab" aria-controls="zabbix_graph_block" aria-selected="true">Доступность хоста <img src="{{ asset('build/images/ajax-loader.gif') }}"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="locator_tab" data-toggle="tab" href="#locator_block" role="tab" aria-controls="locator" aria-selected="false">Locator <img src="{{ asset('build/images/ajax-loader.gif') }}"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="acs_info_tab" data-toggle="tab" href="#acs_info_block" role="tab" aria-controls="home" aria-selected="false" style='display: none;'>CPE абонента <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="acs_pings_tab" data-toggle="tab" href="#acs_pings_block" role="tab" aria-controls="home" aria-selected="false" style='display: none;'>Ping <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="acs_traces_tab" data-toggle="tab" href="#acs_traces_block" role="tab" aria-controls="profile" aria-selected="false" style='display: none;'>Трассировка <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="acs_speed_tab" data-toggle="tab" href="#acs_speed_block" role="tab" aria-controls="contact" aria-selected="false" style='display: none;'>Скорость <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="indicators_block">
                                                <div class="tab-pane fade show active" id="zabbix_graph_block" role="tabpanel" aria-labelledby="zabbix_graph_tab">
                                                    <a href='#' target='_blank'>
                                                        <img id="zabbix_graph" class="img-fluid">
                                                    </a>
                                                </div>

                                                <div class="tab-pane fade" id="locator_block" role="tabpanel" aria-labelledby="locator_tab">
                                                    <div class="table-responsive mt-2">
                                                        <table class="table table-sm">
                                                            <tbody id="locator_tbody">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="acs_info_block" role="tabpanel" aria-labelledby="acs_info_tab">
                                                  <div class="table-responsive mt-2">
                                                      <table class="table table-sm">
                                                          <tbody>
                                                              <tr>
                                                                  <th>Производитель</th>
                                                                  <td id="acs_info_manufacturer"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>

                                                                  <th>Модель</th>
                                                                  <td id="acs_info_model"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th>Прошивка</th>
                                                                  <td id="acs_info_firmware"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>

                                                                  <th>Серийный номер</th>
                                                                  <td id="acs_info_serial"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th>IP</th>
                                                                  <td id="acs_info_ip"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>

                                                                  <th>MAC</th>
                                                                  <td id="acs_info_mac"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th>Порт</th>
                                                                  <td id="acs_info_port"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>

                                                                  <th>Количество клиентов</th>
                                                                  <td id="acs_info_clients"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th>Последнее время соединения</th>
                                                                  <td id="acs_info_lastConnection"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>

                                                                  <th>Uptime</th>
                                                                  <td id="acs_info_uptime"><img src="{{ asset('build/images/ajax-loader.gif') }}"></td>
                                                              </tr>
                                                          </tbody>
                                                      </table>
                                                  </div>
                                                  <div class="table-responsive mt-2">
                                                      <table class="table table-sm">
                                                          <caption style="caption-side: top;">Задачи на CPE</caption>
                                                          <thead>
                                                              <tr>
                                                                  <th>Время создания</th>
                                                                  <th>Задача</th>
                                                                  <th>Пользователь</th>
                                                                  <th>Статус</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody id="acs_activities">

                                                          </tbody>
                                                      </table>
                                                  </div>
                                                </div>
                                                <div class="tab-pane fade" id="acs_pings_block" role="tabpanel" aria-labelledby="acs_pings_tab">
                                                  <div class="table-responsive mt-2">
                                                      <table class="table table-sm">
                                                          <thead>
                                                              <tr>
                                                                  <th>Дата</th>
                                                                  <th>Отправлено</th>
                                                                  <th>Получено</th>
                                                                  <th>Потеряно</th>
                                                                  <th>Минимум</th>
                                                                  <th>Максимум</th>
                                                                  <th>Среднее</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody id="acs_pings_data">

                                                          </tbody>
                                                      </table>
                                                  </div>
                                                  <p class='text-center' style='display:none;'><a href='#' id='acs_pings_more'>Показать еще</a></p>
                                                  <div class="form-inline justify-content-center">
                                                      <div class="form-group mb-2" style="width:75px;">
                                                          <input type="number" class="form-control" style="width:75px;" placeholder="Пакеты" value="4" id="acs_ping_packets" min="1">
                                                      </div>
                                                      <div class="form-group mb-2">
                                                          <input type="text" class="form-control ml-sm-3" placeholder="IP или домен" value="google.ru" id="acs_ping_address">
                                                      </div>
                                                      <button type="button" class="btn btn-primary mb-2 ml-sm-3" id="acs_ping_create">Новый ping</button>
                                                  </div>
                                              </div>
                                              <div class="tab-pane fade" id="acs_traces_block" role="tabpanel" aria-labelledby="acs_traces_tab">
                                                  <div class="table-responsive mt-2">
                                                      <table class="table table-sm">
                                                          <thead>
                                                              <tr>
                                                                  <th>Время создания</th>
                                                                  <th>Время ответа</th>
                                                                  <th>RTT</th>
                                                                  <th>Код ошибки</th>
                                                                  <th>Адрес хоста</th>
                                                                  <th>Хост</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody id="acs_traces_data">
                                                          </tbody>
                                                      </table>
                                                  </div>
                                                  <p class='text-center' style='display:none;'><a href='#' id='acs_traces_more'>Показать еще</a></p>
                                                  <div class="form-inline justify-content-center">
                                                      <div class="form-group mb-2" style="width:75px;">
                                                          <input type="number" class="form-control" style="width:75px;" placeholder="Прыжки" value="30" id="acs_trace_hops" min="1">
                                                      </div>
                                                      <div class="form-group mb-2 ml-sm-3">
                                                          <input type="text" class="form-control" placeholder="IP или домен" value="google.ru" id="acs_trace_address">
                                                      </div>
                                                      <button type="button" class="btn btn-primary mb-2 ml-sm-3" id="acs_trace_create">Новая трассировка</button>
                                                  </div>
                                              </div>
                                              <div class="tab-pane fade" id="acs_speed_block" role="tabpanel" aria-labelledby="acs_speed_tab">
                                                  <div class="table-responsive mt-2">
                                                      <table class="table table-sm">
                                                          <thead>
                                                              <tr>
                                                                  <th>Время создания</th>
                                                                  <th>Тип</th>
                                                                  <th>Время запроса</th>
                                                                  <th>Время ответа</th>
                                                                  <th>Время получения первого пакета</th>
                                                                  <th>Пропускная способность</th>
                                                                  <th>Скорость на интерфейсе</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody id="acs_speed_data">
                                                          </tbody>
                                                      </table>
                                                  </div>
                                                  <p class='text-center' style='display:none;'><a href='#' id='acs_speed_more'>Показать еще</a></p>
                                                  <div class="form-inline justify-content-center">
                                                      <div class="form-group mb-2">
                                                          <select class="form-control" id="acs_diagnostic_type">
                                                              <option selected disabled>Выберите тип задачи</option>
                                                              <option value="upload">Upload</option>
                                                              <option value="download">Download</option>
                                                          </select>
                                                      </div>
                                                      <div class="form-group mb-2 ml-sm-3" style="display: none;">
                                                          <select class="form-control" id="acs_upload_size">
                                                              <option selected disabled>Выберите размер</option>
                                                              {% for i in 1..1024 %}
                                                                 <option value="{{ i * 1024 * 1024 }}">{{ i }} МБ</option>
                                                              {% endfor %}
                                                          </select>
                                                      </div>
                                                      <div class="form-group mb-2 ml-sm-3" style="display: none;">
                                                          <input type="text" class="form-control" placeholder="Адрес" value="192.168.89.77" id="acs_upload_address">
                                                      </div>
                                                      <div class="form-group mb-2 ml-sm-3" style="display: none;">
                                                          <input type="text" class="form-control" placeholder="Адрес" value="" id="acs_download_address">
                                                      </div>
                                                      <button type="button" class="btn btn-primary mb-2 mx-sm-3" id="acs_speed_create" style="display: none;">Новый тест скорости</button>
                                                  </div>
                                              </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
    {#                    <div id="accordionTasks">#}
    {#                        <div class="card">#}
    {#                            <div class="card-header" id="headingTasks">#}
    {#                                <h5 class="mb-0">#}
    {#                                    <button class="btn btn-link {{ app.request.cookies.get('bitrixInfoHeader_collapsed')|default('true') == 'true' ? 'collapsed' : '' }}" data-toggle="collapse" data-target="#collapseTasks" aria-expanded="{{ app.request.cookies.get('bitrixInfoHeader_collapsed')|default('true') == 'true' ? 'true' : 'false' }}" aria-controls="collapseTasks" id="bitrixInfoHeader">#}
    {#                                        Задачи <img src="{{ asset('build/images/ajax-loader.gif') }}">#}
    {#                                    </button>#}
    {#                                </h5>#}
    {#                            </div>#}
    {#                            <div id="collapseTasks" class="collapse {{ app.request.cookies.get('bitrixInfoHeader_collapsed')|default('true') == 'true' ? 'show' : '' }}" aria-labelledby="headingTasks">#}
    {#                                <div class="card-body" id="bitrixBlock">#}
    {#                                    <div class="table-responsive">#}
    {#                                        <table class="table table-sm" id="bitrix_tasks_table">#}
    {#                                            <thead>#}
    {#                                            <tr>#}
    {#                                                <th> № </th>#}
    {#                                                <th> Название </th>#}
    {#                                                <th> Дата создания	 </th>#}
    {#                                                <th> Крайний срок	 </th>#}
    {#                                                <th> Статус</th>#}
    {#                                            </tr>#}
    {#                                            </thead>#}
    {#                                            <tbody id="bitrix_tasks">#}

    {#                                            </tbody>#}
    {#                                        </table>#}
    {#                                    </div>#}
    {#                                    <p class='text-center' style='display: none;'><a href='#' id='bitrix_tasks_more'>Показать еще</a></p>#}
    {#                                    <div align="center">#}
    {#                                        <button type="button" class="btn btn-primary" id="bitrix_task_create" >Создать задачу</button>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}

    {#                        </div>#}
                        <div id="accordionComments">
                            <div class="card">
                                <div class="card-header" id="headingComments">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link {{ app.request.cookies.get('commentsInfoHeader_collapsed')|default('true') == 'true' ? 'collapsed' : '' }}" data-toggle="collapse" data-target="#collapseComments" aria-expanded="{{ app.request.cookies.get('commentsInfoHeader_collapsed')|default('true') == 'true' ? 'true' : 'false' }}" aria-controls="collapseComments" id="commentsInfoHeader">
                                            Комментарии <img src="{{ asset('build/images/ajax-loader.gif') }}">
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseComments" class="collapse {{ app.request.cookies.get('commentsInfoHeader_collapsed')|default('true') == 'true' ? 'show' : '' }}" aria-labelledby="headingComments" >
                                    <div class="card-body" id="commentsBlock">
                                        <div class="table-responsive">
                                            <table class="table table-sm" id="comments_table">
                                                <thead>
                                                <tr>
                                                    <th> Дата </th>
                                                    <th> Пользователь </th>
                                                    <th> Комментарий </th>
                                                </tr>
                                                </thead>
                                                <tbody id="comments_list">

                                                </tbody>
                                            </table>
                                        </div>
                                        <p class='text-center' style='display:none;'><a href='#' id='comments_more'>Показать еще</a></p>
                                        <div class="form-group" align="center">
                                            <label for="comment">Добавить комментарий:</label>
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                            <button type="submit" class="btn btn-primary m-2" id="comment_send" >Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="inetServiceListModal" tabindex="-1" role="dialog" aria-labelledby="inetServiceListModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Учетные записи</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <table class="table table-sm" id="inetServiceListTable">
                              <thead>
                                  <tr>
                                      <th>Логин</th>
                                      <th>Окато:Порт</th>
                                      <th>Статус</th>
                                  </tr>
                              </thead>
                              <tbody id="inetServiceListModalBody">

                              </tbody>
                          </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>

                {#Номер телефона#}
                <div class="modal fade" id="phoneNumberListModal" tabindex="-1" role="dialog" aria-labelledby="phoneNumberListModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="billingPhoneNumberModalTitle">Контактные номера <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="billingPhoneNumberListBlock">
                          <table class="table table-sm" id="billingPhoneNumberListTable">
                              <thead>
                                  <tr>
                                  </tr>
                              </thead>
                              <tbody id="billingPhoneNumberListModalBody">
                              </tbody>
                          </table>
                      </div>
                      <div class="modal-footer">
                          <input type="text" class="form-control" id="billing_phone_input" placeholder="Добавить номер">
                          <button type="submit" class="btn btn-primary w-25" id="billing_phone_add" >Добавить</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>

                {#Список MAC адресов с Locator'а#}
                <div class="modal fade" id="locatorMacListModal" tabindex="-1" role="dialog" aria-labelledby="locatorMacListModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="locatorMacListModalTitle">MAC-адреса на порту <img src="{{ asset('build/images/ajax-loader.gif') }}" style="display: none;"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="locatorMacListBlock">
                          <table class="table table-sm" id="locatorMacListTable">
                              <thead>
                                  <tr>
                                  </tr>
                              </thead>
                              <tbody id="locatorMacListModalBody">
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>

                {#Статус сессии#}
                <div class="modal fade" id="inetSessionListModal" tabindex="-1" role="dialog" aria-labelledby="inetSessionListModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="inetSessionListModalTitle">Сессии <img src="{{ asset('build/images/ajax-loader.gif') }}"><a href="#" id="inetSessionListRefresh" style="display: none;"><i class="fas fa-sync fa-sm"></i></a></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="inetSessionListModalBlock">
                                <table class="table table-sm" id="inetSessionListTable">
                                    <thead>
                                    <tr>
                                        <th>Логин</th>
                                        <th>IP</th>
                                        <th>MAC</th>
                                        <th>Начало сессии</th>
                                        <th>Начало подключения</th>
                                        <th>Конец сессии</th>
                                    </tr>
                                    </thead>
                                    <tbody id="inetSessionListModalBody">

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>

                {#Тарифы#}
                <div class="modal fade" id="tariffListModal" tabindex="-1" role="dialog" aria-labelledby="tariffListModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Тарифы</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <table class="table table-sm" id="tariffListTable">
                              <thead>
                                  <tr>
                                      <th> Дата подключения </th>
                                      <th> Название </th>
                                      <th> Цена </th>
                                      <th> Скорость </th>
                                  </tr>
                              </thead>
                              <tbody id="tariffListModalBody">

                              </tbody>
                          </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" style="display: none;" id="abonError">
                    <div class="col" id="billingeError">

                    </div>
                </div>
            {% else %}
                <div class="row"><div class="col">
                    {% if searchHistory|length > 0 %}
                    <div class="table-responsive">
                        <table class="table" id="search_history">
                            <thead>
                                <tr>
                                    <th>Объект</th>
                                    <th>Время</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for searchRecord in searchHistory %}
                                    <tr>
                                        <td><a href="{{ path("abon_index", {num_contract: searchRecord.searchObject}) }}">{{ searchRecord.searchObject }}</a></td>
                                        <td>{{ searchRecord.time|date("d.m.Y H:i:s") }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}

                    {% endif %}
                </div></div>
            {% endif %}
        {% else %}
            {% if token_error is defined %}
                <div class="alert alert-danger" role="alert">
                    <strong>Ошибка при авторизации в биллинге!</strong> Попробуйте авторизоваться снова.
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <strong>Для начала поиска авторизуйтесь в биллинге!</strong>
                </div>
            {% endif %}
        {% endif %}
        <a href="https://bill.ellco.ru/subscriber/login.php?redirect_uri={{ url('get_billing_token', {redirect: app.request.attributes.get('_route')})|url_encode }}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Вы будете перенаправлены на страницу биллинга для авторизации." id="billing_auth" style="display: none;"><i class="fas fa-id-badge"></i> Авторизоваться</a>
    </main>
{% endblock %}
